@font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
@main-width: 1200px; 
@font:'iconfont';
@border-color:#e8e8e8;
@prefix:"react-mime";
@shadow:0 2px 8px rgba(0, 0, 0, 0.09);